h1{font-family: 'Pacifico', cursive;}
h1{color:  #5cb85c;}
.apples{background-image: url("http://data.whicdn.com/images/63626401/original.png");}
.container{background-color: #fff;}
h5{font-family: 'Calligraffitti', cursive;}
.alice{background-image: url("http://www.themesltd.com/backgrounds/black-and-white/tumbling_alice_in_wonderland.gif");}
.money{background-image: url("http://www.profilebrand.com/imgs/layouts/21gangster/514/514_L-colorful-money.jpg");}
.ohana{background-image: url("https://s-media-cache-ak0.pinimg.com/236x/7e/c8/b4/7ec8b46926d5c4cf1910d4e6dd0350c6.jpg");}